extends layout

block content
	div(class='full-page', style='background:url("/images/headphone.jpg") no-repeat;')
	div(class='container center full-page', id='mydiv')
		h1(class='header') Welcome to MusicTube
		h4(style="color:red")= message
		form(action='/url')
			input(type='text', name="url", class="input-style", placeholder="Paste your YouTube url here...")
			br
			input(type='submit', class="blue-button", value="Submit")
		//- p  #{title}